<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokefinder</title>
    <!-- IMPORT BOOTSTRAP ICONS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- IMPORT CSS -->
    <link rel="stylesheet" href="../public/styles/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h2>Pokefinder</h2>
        </div>
        <div class="search-pokemon">
          <form action="#" method="get" class="search-bar" autocomplete="off">
            <input
              type="text"
              name="pokemonName"
              id="pokemonName"
              class="input-pokemon"
              placeholder="Pesquise o pokémon..."
            />
            <button type="submit" class="search-button">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
      </div>
    </header>
    <main>
      <article class="image-poke">
        <h1 class="poke-name">SUICUNE</h1>
        <img src="#" alt="Imagem pokemon" />
      </article>
      <article class="poke-info">
        <div class="base-info">
          <div class="info-box">
            <p>Number on Pokédex: 45</p>
          </div>
          <div class="info-box">
            <p>Type: Ice</p>
          </div>
          <div class="info-box">
            <p>Weigth: 58</p>
          </div>
          <div class="info-box">
            <p>Height: 1.78</p>
          </div>
          <div class="info-box">
            <p>Abilities: None</p>
          </div>
          <div class="info-box">
            <p>Gender: Female</p>
          </div>
        </div>
        <div class="desc-local-info">
          <div class="desc-poke">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
              velit porro quaerat neque consectetur sunt ea quo tempore dicta
              quasi fugit, delectus, eius sapiente voluptas at mollitia impedit
              repudiandae. Porro?
            </p>
          </div>
          <div class="local-poke">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel
              eligendi, nemo sint officia ipsam dicta nostrum aut est impedit?
            </p>
          </div>
        </div>
      </article>
      <article class="evolutions-poke">
        <div class="first-evolution">
          <p>A</p>
        </div>
        <div class="second-evolution">
          <p>B</p>
        </div>
        <div class="third-evolution">
          <p>C</p>
        </div>
      </article>
    </main>
    <footer>
      <p>Developer by Marcos - 2025</p>
    </footer>
  </body>
</html>
